﻿@model RevBlog.Domain.Entities.Post

@{
    ViewBag.Title = "Просмотр: " + Model.Title;
}

<h2>@ViewBag.Title</h2>

<div>
    <div class="pull-right">
        <a href="@Url.Action("Edit", "Post", new { id = Model.ID })" class="btn btn-warning">Редактировать</a>
        <a href="@Url.Action("Delete", "Post", new { id = Model.ID })" class="btn btn-danger">Удалить</a>
    </div>
    <div class="clearfix"></div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.Raw(Model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaKeyWords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaKeyWords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>
</div>

<div>
    <h2>Теги</h2>

    <table class="table table-striped">
        <tbody>
            @{
                int i = 1;
                foreach (var tag in Model.Tags)
                {
                    <tr>
                        <td>@i</td>
                        <td>@tag.Name</td>
                        <td>
                            @using (Html.BeginForm("DeleteTag", "Post", new { id = Model.ID}, FormMethod.Post))
                            {
                                @Html.Hidden("tagID", tag.ID)
                                <input type="submit" value="Удалить" />
                            }
                        </td>
                    </tr>

                    ++i;
                }
            }
        </tbody>
    </table>

    <h3>Добавить тег</h3>
    @using (Html.BeginForm("AddTag", "Post", new { id = Model.ID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Название", htmlAttributes: new { @class = "control-label col-md-2", required = "required" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.TextBox("Name", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Добавить тег" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>
    }
</div>

<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>

@section Styles {
    @Styles.Render("~/Content/prism.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/prism.js")
}