﻿@model IEnumerable<RevBlog.Domain.Entities.Post>
@using GridMvc.Html
@using GridMvc.Sorting;
@using GridMvc.Filtering;

@{
    ViewBag.Title = "Записи";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>


@Html.Grid(Model).Columns(columns =>
{
    columns.Add(p => p.ID).Sortable(true).SortInitialDirection(GridSortDirection.Descending).Filterable(true);
    columns.Add(p => p.Title).Titled("Заголовок").Sortable(true).Filterable(true).Sanitized(false).Encoded(false).RenderValueAs(model => Html.ActionLink(model.Title,
         "Details", "Post", new { id = model.ID }, null)
         .ToHtmlString());
    columns.Add(p => p.Alias).Titled("Алиас").Sortable(true).Filterable(true);
    columns.Add(p => p.Category.Name).Titled("Категория").Sortable(true);
    columns.Add(p => p.isActive).Titled("Опубликовано?").Sortable(true).Filterable(true);
    columns.Add(p => p.Created).Titled("Дата создания").Sortable(true).Filterable(true).SetFilterWidgetType("System.DateTime");
    columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(model => Html.ActionLink("Редактировать",
        "Edit", "Post", new { id = model.ID }, null)
        .ToHtmlString());
    columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(model => Html.ActionLink("Удалить",
        "Delete", "Post", new { id = model.ID }, null)
        .ToHtmlString());
}).WithPaging(20)


@section Styles {
    @Styles.Render("~/Content/Gridmvc.css")
    @Styles.Render("~/Content/gridmvc.datepicker.min.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/gridmvc.lang.ru.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/gridmvc.min.js")
}