﻿@{
    ViewBag.Title = "Обо мне";
}
<h2>@ViewBag.Title</h2>

<p>Добрый день, меня зовут Аркадий. Я занимаюсь разработкой веб(Yii, Symfony, ASP.NET MVC)  и десктопных приложений(C# Win Forms, Qt, WPF) , а так же учусь разрабатывать под мобильные платформы(Android, Ionic Framework). В данный момент работаю .NET разработчиком в GlobalLogic. Ранее работал в веб-студии, где занимаюсь разработкой CRM и ERP решений(активно использовались обе версии Yii).  В этом блоге я постараюсь описывать интересные и нужные моменты, которые встречаются в процессе разработки. Очень часто информация подается в урезанном или усложненном виде, или даже разбросанно по кусочкам, что делает её трудной для поиска и понимания. Я буду выкладывать свой взгляд на вещи и решения повседневных задач программиста.</p>
