﻿@model List<RevBlog.Domain.Entities.Post>

@{
    ViewBag.Title = "Главная страница";
}

@if (Model.Count == 0)
{
    <p>Записей нет.</p>
}
else
{
    <h2>Последние записи</h2>

    foreach (var post in Model)
    {
        @Html.Partial("~/Views/Blog/_ItemDescription.cshtml", post)
    }
}


@section Styles {
    @Styles.Render("~/Content/prism.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/prism.js")
}