﻿@model RevBlog.Domain.Entities.Post

<div class="blog-item">
    <div class="row">
        <div class="col-lg-2 col-sm-2 text-right">
            <div class="date-wrap">
                <span class="date">@Model.Created.Day</span>
                <span class="month">@Model.Created.ToString("MMMM")</span>
                <span class="month">@Model.Created.Year</span>
            </div>
            <div class="author">
                <a href="@Url.Action("Category", "Blog", new { id = Model.Category.ID, alias = Model.Category.Alias })">@Model.Category.Name</a>
            </div>
            <ul class="list-unstyled">
                @foreach (var tag in Model.Tags)
                {
                    <li><a href="@Url.Action("Tag", "Blog", new { name = tag.Name })"><em>@tag.Name</em></a></li>
                }
            </ul>
        </div>
        <div class="col-lg-10 col-sm-10">
            <h1><a href="@Url.Action("Details", "Blog", new { id = Model.ID, alias = Model.Alias })">@Model.Title</a></h1>
            @Html.Raw(Model.Description)
            <a href="@Url.Action("Details", "Blog", new { id = Model.ID, alias = Model.Alias })" class="btn btn-danger pull-right">Подробнее</a>
        </div>
    </div>
</div>