﻿@using RevBlog.Web.Extensions;

@model RevBlog.Web.Models.PostListViewModel
@{
    ViewBag.Title = Model.Title != null ? Model.Title : "Блог";
}

@if (Model.PagingInfo.TotalItems == 0)
{
    <p>Записей нет.</p>
}

@foreach(var post in Model.Posts)
{
    @Html.Partial("_ItemDescription", post)
}

@if (Model.PagingInfo.TotalPages > 1)
{
    <div class="text-center">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
    </div>
}

@section Styles {
    @Styles.Render("~/Content/prism.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/prism.js")
}