﻿@model IQueryable<RevBlog.Domain.Entities.Post>

<div class="post">
    <h3>Последние записи</h3>
    <ul class="list-unstyled">
        @foreach (var post in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Blog", new { id = post.ID, alias = post.Alias })"><i class="fa fa-angle-right"></i> @post.Title</a>
            </li>
        }
    </ul>
</div>