﻿@using RevBlog.Web.Extensions;

@model RevBlog.Web.Models.SearchListViewModel
@{
    ViewBag.Title = "Результаты поиска: " + Model.Query;
}

@using (Html.BeginForm("Search", "Blog", FormMethod.Get))
{
    <div class="form-group">
        @Html.TextBox("q", Model.Query, new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        <div class="col-md-12 clearfix">
            <input type="submit" value="Поиск" class="btn btn-primary pull-right" />
        </div>
    </div>
}

<hr />

@if (Model.PagingInfo.TotalItems == 0)
{
    <p>Ничего не найдено.</p>
}

@foreach (var post in Model.Posts)
{
    @Html.Partial("_ItemDescription", post)
}

@if (Model.PagingInfo.TotalPages > 1)
{
    <div class="text-center">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Search", new { q = Model.Query, page = x }))
    </div>
}

@section Styles {
    @Styles.Render("~/Content/prism.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/prism.js")

    <script>
        function highLight() {
            searchTerm = "@Model.Query";
            searchRegex = new RegExp(searchTerm, 'g');
            $("#haiz *").replaceText(searchRegex, '<span class="highlight">' + searchTerm + '</span>');
        }
    </script>
}
