﻿@model IEnumerable<RevBlog.Domain.Entities.Category>

@{
    ViewBag.Title = "Категории";
}

<h2>@ViewBag.Title</h2>

<p class="pull-right">
    @Html.ActionLink("Добавить категорию", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="clearfix"></div>

<div class="tasks-widget task-content">

    <ul class="task-list">
        @foreach (var category in Model)
        {
            <li>
                <div class="task-title">
                    <span class="task-title-sp">@category.Name</span>
                    <span class="badge badge-sm label-success">2 Days</span>
                    <div class="pull-right hidden-phone">
                        <a href="@Url.Action("Details", new { id = category.ID } )" class="btn btn-success btn-xs"><i class=" fa fa-check"></i></a>
                        <a href="@Url.Action("Edit", new { id = category.ID } )" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                        <a href="@Url.Action("Delete", new { id = category.ID } )"class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>
                    </div>
                </div>
            </li>
            foreach (var subCategory in category.Children)
            {
                <li>
                    <div class="sub-task-title">
                        <span class="task-title-sp">@subCategory.Name</span>
                        <span class="badge badge-sm label-success">2 Days</span>
                        <div class="pull-right hidden-phone">
                            <a href="@Url.Action("Details", new { id = subCategory.ID } )" class="btn btn-success btn-xs"><i class=" fa fa-check"></i></a>
                            <a href="@Url.Action("Edit", new { id = subCategory.ID } )" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                            <a href="@Url.Action("Delete", new { id = subCategory.ID } )" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>