﻿@{
    Layout = null;
    ViewBag.Title = "Страница не найдена";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/img/favicon.png">
    <title>@ViewBag.Title - RevBlog</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>


<body class="body-404">
    <div class="container">
        <section class="error-wrapper">
            <i class="icon-404"></i>
            <h1>404</h1>
            <h2>@ViewBag.Title</h2>
            <p class="page-404">Искомая страница не найдена. <a href="@Url.Action("Index", "Home")">Вернуться на главную</a></p>
        </section>
    </div>

</body>
</html>
