﻿@model IQueryable<RevBlog.Domain.Entities.Category>

<div class="category">
    <h3>Категории</h3>
    <ul class="list-unstyled">
        @foreach (var category in Model)
        {
            <li>
                <a href="@Url.Action("Category", "Blog", new { id = category.ID, alias = category.Alias })"><i class="fa fa-angle-right"></i> @category.Name</a>
            </li>
        }
    </ul>
</div>