﻿
@{
    ViewBag.Title = "Index";
}

<h2>Admin Index</h2>

<div class="tasks-widget task-content">

    <ul class="task-list">
        <li>
            <div class="task-title">
                <span class="task-title-sp">Flatlab is Modern Dashboard</span>
                <span class="badge badge-sm label-success">2 Days</span>
                <div class="pull-right hidden-phone">
                    <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                </div>
            </div>
        </li>
        <li>
            <div class="task-title">
                <span class="task-title-sp">Fully Responsive &amp; Bootstrap 3.0.2 Compatible</span>
                <span class="badge badge-sm label-danger">Done</span>
                <div class="pull-right hidden-phone">
                    <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                </div>
            </div>
        </li>
        <li>
            <div class="task-title">
                <span class="task-title-sp">Daily Standup Meeting</span>
                <span class="badge badge-sm label-warning">Company</span>
                <div class="pull-right hidden-phone">
                    <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                </div>
            </div>
        </li>
    </ul>
</div>