﻿@model IQueryable<RevBlog.Domain.Entities.Tag>

<div class="tags">
    <h3>Теги</h3>
    <ul class="list-unstyled tag">
        @foreach (var tag in Model)
        {
            <li><a href="@Url.Action("Tag", "Blog", new { name = tag.Name })">@tag.Name</a></li>
        }
    </ul>
</div>